@import 'bootstrap/scss/functions';

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$body-color: #000000;

$primary: #1d3347;
$secondary: #1c9b90;

$font-weight-bolder: 800;

@import 'bootstrap/scss/variables';

/* $cdn: 'https://d2irwxhydgwv41.cloudfront.net/'; */

//Typography
/* $font-family-primary: $font-family-sans-serif; */

/* 
$font-family-secondary: 'Poppins', sans-serif;
$font-family-tertiary: 'Montserrat', sans-serif; */

//Colors
