.footer {
  display: flex;

  padding: 24px;
  /* column-gap: 1.5rem; */
  width: 100%;
  height: 200px;

  background: linear-gradient(180deg, #121040 0%, #6d4dec 100%);

  color: white;

  justify-content: center;
  align-items: center;
}
