@import "@/sass/abstracts/variables";
@import "bootstrap/scss/mixins";

.customNavbar {
  z-index: 99999;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: linear-gradient(
    108.46deg,
    rgba(255, 255, 255, 0.0099) 0%,
    rgba(255, 255, 255, 0.066) 100%
  );
  backdrop-filter: blur(10px);

  .textLogo {
    font-size: 14px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
}
