@import '@/sass/abstracts/variables';
@import 'bootstrap/scss/mixins';

.customNavbar {
  z-index: 500;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: linear-gradient(
    108.46deg,
    rgba(255, 255, 255, 0.0099) 0%,
    rgba(255, 255, 255, 0.066) 100%
  );
  backdrop-filter: blur(10px);

  @include media-breakpoint-up(xl) {
    height: 100px;
  }

  .textLogo {
    font-size: 14px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  .customCollapsedContainer {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
  }
  .toggler {
    padding: 0px !important;
    border: none !important;
    color: #ffffff !important;
  }
  .logo {
    width: 40px;

    @include media-breakpoint-up(md) {
      width: 53px;
    }
  }
}

.locationDecorator {
  position: absolute;
  top: 130% !important;
  left: 50% !important;
  transform: translateX(-50%) rotate(-45deg);

  width: 10.79px !important;
  height: 10.79px !important;

  max-width: 10.79px !important;
  max-height: 10.79px !important;

  background: #ffffff;
  /* background: rgba(255, 255, 255, 0.41); */

  box-shadow: 0px 0px 0px 3px rgb(100, 100, 100) inset;
}

.contactNavLink {
  position: relative;
  border: 2px solid $blue1;
  padding: 0px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;

  width: 153px;
  height: 42px;
  transform: skewX(-20deg);

  @include media-breakpoint-up(md) {
    margin-left: 12px;
  }
}
