@import '@/sass/abstracts/variables';
@import 'bootstrap/scss/mixins';

.customTab {
  column-gap: 18px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  font-size: 12px;
  li {
    white-space: nowrap;
  }
  @include media-breakpoint-up(md) {
    overflow-x: unset;
    column-gap: 24px;
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    column-gap: 56px;
    font-size: 16px;
  }
}

.customRow {
  justify-content: center;
  & > div {
    &:nth-child(2) {
      margin-top: 67px;
    }
  }
}

.tabImage {
  // height: auto;
  height: 155px;
  width: calc(100vw - 32px);
  // width: 100%;
  &:hover {
    opacity: 75%;
  }
  @include media-breakpoint-up(md) {
    height: 235px;
    width: 500px;
  }
}
